* {
    margin:0;
    padding :0;
}

section.wrapper {
    display : grid;
    grid-template-columns : 0.5fr 2.5fr 0.7fr;
}

section.race_list {
    border : 1px solid black;
}
div.race_data h3 {
    margin : 10px;
}

div.race_participant table, th, td{
    border : 1px solid black;
    padding : 7px;
}

section.add_participant form div {
    display : inline-block;
}
