.race_details_wrapper {
    .race_data {
        background-color: #424242;

        h5 {
            padding: 5px;
            font-size: 15px;
            font-weight: 400;
            color: #9E9E9E;
        }
    }
    .race_participants {
        width: 100%;
        
        .race_participant {
            display : grid;
            grid-template-columns : 20% 80%;

            .data div {
                display : inline;
            }
            .bookmaker_bets {

        }
        }
    }
}
