section.wrapper {
    display: grid;
    grid-template-columns: 0.6fr 2.5fr 0.7fr;
    height : calc(100vh - 10vh);
    border : 2px solid black;
}

section.race_list {
    min-width: 280px;
    background-color: #292929;
}

div.race_data {
    border-bottom : 1px solid black;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
}

div.race_data .race_edit form input {
    display : inline-block;
    width : 80px;
    margin : 5px;
    height : 20px;
    font-size : 13px;
    text-transform : uppercase;
}

div.race_data h4 {
    margin: 5px;
    height: 20px;
    color: #646464;
    font-weight: 500;
}

.race_details {
    background-color: #505050;
    overflow-y: scroll;
}



