*{
    margin : 0;
    padding : 0;
}

.new_user form {
    padding : 5px;
    width : 20%;
    border : 1px solid black;
    background-color : lightgray;
}
.new_user form div {
    margin : 5px;
    padding : 5px;
}
.new_user form label {
    display : inline-block;
    width : 70px;
}
.new_user form input[type=text] {
    width: 150px;
    height : 20px;
}

.new_user form input[type=submit] {
    width : 100px;
    height : 30px;
}

div.user_item {
    width : 65%;
    margin : 5px;
    background-color: lightgray;
    border : 1px solid black;
}

div.user_item p{
    margin : 10px;
}
div.user_title {
    background-color : gray;
    border : 1.8px solid black;
}
div.user_description {
    display: grid;
    grid-template-columns : 1fr 1fr 1fr;
    padding : 5px;
}
div.user_under_actions form input{
    width:100px;
    height : 30px;
    margin : 5px;
}




