* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position : relative;
    min-height : 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000000;
    color: #FFFFFF;
}

header section.site_title img {
    width : 30px;
    height : 30px;
}
header section.site_title h1 {
    display : inline-block;
    font-size : 30px;

}

header section.header_menu nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    margin-right: 10px;
    color: #FFFFFF;
}

.header_menu li {
    display: inline;
    list-style: none;
}

header .user_identity p {
    margin-right: 10px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
}

header .user_identity p a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
} 
