@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<h2>Error</h2>
<h2>@System.Threading.Thread.CurrentThread.ManagedThreadId</h2>
