@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LoginViewModel
@section links 
{
    <link type="text/css" rel="stylesheet" href="~/css/Account/Login.css" />
}
<h3>Login</h3>
<section class="login">
    <section class="user_login">
        @await Html.PartialAsync("UserLogin", Model.LoginUserViewModel)
    </section>
    <section class="bookmaker_login">
        @await Html.PartialAsync("BookmakerLogin", Model.LoginBookmakerViewModel)
    </section>
</section>

