@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!doctype html>
<html>
    <head>
        <title>Login</title>
        <link type="text/css" rel="stylesheet" href="~/css/Account/Login.css" />
    </head>
    <body>
        <section class="login_wrapper">
            <div class="login_header">
                <h2>Login</h2>
            </div>
            <div class="login_form_wrapper">
                <form class="login_form" method="post">
                    <div class="login">
                        <label for="email">Email adress</label>
                        <input type="text" id="email" name="Email" />
                    </div>
                    <div class="password">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="Password" />
                    </div>
                    <div class="remember">
                        <input type="checkbox" id="isRemember" name="isRemember" value="false" />
                        <label for="isRemember">remember me</label>
                    </div>
                    <div class="forget_password">
                        <a href="">Forget your password?</a>
                    </div>
                    <div class="sign_in_button">
                        <input type="submit" value="Login" />
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>

