@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model RegisterUserViewModel
<!doctype html>
<html>
<head>
    <title>Register</title>
    <link type="text/css" rel="stylesheet" href="~/css/Account/Register.css" />
</head>
<body>
    <section class="register_wrapper">
        <div class="register_header">
            <h2>Register</h2>
        </div>
        <div class="register_form_wrapper">
            <form class="register_form" asp-controller="Account" asp-action="Register" method="post">
                <div class="name">
                    <label asp-for="Name">Name</label>
                    <input type="text" asp-for="Name" />
                </div>
                <div class="email">
                    <label asp-for="Email">Email adress</label>
                    <input type="text" asp-for="Email" />
                </div>
                <div class="password">
                    <label asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" />
                </div>
                <div class="confirm_password">
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" />
                </div>
                <!--<div class="user_role">
                    <label asp-for="RoleId">Choose Role</label>
                    <select asp-for="RoleId">-->
                        @*@foreach (UserRole role in RegisterViewModel.GetUserRoles())
                        {
                            <option value=@role.Id>@role.RoleName</option>
                        }*@
                    <!--</select>
                </div>-->
                <div class="sign_in_button">
                    <input type="submit" value="Login" />
                </div>

            </form>
        </div>
    </section>
</body>
</html>

