section.bookmaker_login_wrapper {
/*    position: fixed;
    top: 40%;
    left: 50%;*/
    width: 300px;
    height: 290px;
   /* transform: translate(-50%, -50%);*/
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ededed;

    h2 {
        margin: 10px;
        text-align: center;
        font-weight: 700;
        font-size: 25px;
    }

    form {
        div {
            margin: 7px;

            label {
                display: block;
                font-weight: 600;
                font-size: 20px;
            }

            input [type=text], input[type=password] {
                margin-top: 5px;
                width: 80%;
                height: 23px;
                font-size: 15px;
                padding: 0px 5px 0px 5px;
            }

            input[type=submit] {
                width: 100px;
                height: 30px;
                font-size: 20px;
                font-weight: 100;
            }
        }

        div.remember {
            margin-top: 10px;

            label {
                display: inline-block;
                vertical-align: bottom;
                font-weight: 500;
            }

            input {
                display: inline-block;
                box-sizing: border-box;
            }
        }

        div.forget_password {
            text-align: end;
        }

        div.sign_in_button {
            margin: 15px;
            text-align: center;
        }
    }
}
