@model RacesViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section links { 
    <link rel="stylesheet" type="text/css" href="~/css/Race/Races.css" />
    <link type="text/javascript" href="~/lib/jquery/dist/jquery.js" />
}
<section class="wrapper">
    
    <section class="race_list">
        @Html.ActionLink("Add Race", "AddRace")

        @foreach (var raceViewModel in Model.racesViewModel)
        {
            <div class="race_data" onclick="getRaceDetails(@raceViewModel.race.Id)">
                <h4>Race №@raceViewModel.race.Id</h4>
                <h4>Race Date : @raceViewModel.race.RaceDate</h4>
            </div>
        }
    </section>
    <section id="race_details"></section>

    <section class="user_bet">
        <form asp-controller="User" asp-action="MakeBet" method="post">
            <label for="b_sum">Bet sum</label>
            <input type="number" id="b_sum" name="betSum" />

            <label for="rb_id">Race Bet id</label>
            <input type="number" id="rb_id" name="bookmakerBetId" />

            @*<div>
                <p>Possible win</p>
                <p id="possible_win"></p>
            </div>*@

            <input type="submit" value="make bet" />
        </form>
    </section>
    <script>
        function getRaceDetails(r_id) {
            var url = "/Race/ShowRaceDetails/" + r_id;
            $("#race_details").load(url)
        }
    </script>
</section>

